<div class="formpie">
	<%= simple_form_for(@job, html: { class: 'form-horizontal' }) do |f| %>
		<%= f.input :title, label: "Job title"%>
		<%= f.collection_select :typejob_id, Typejob.all, :id, :name %>
		<p></p>
 		<%= f.trix_editor :description, placeholder: "Plenty of space for the job description right here.. :-)"%>
 		<p></p>
 		<%= f.input :company, label: "Company name"%>
 		<%= f.input :where, label: "Based in.."%>
 		<%= f.input :hours, label: "Amount of hours (weekly)"%>
 		<%= f.input :money, label: "Estimated salary ($/month)"%>

 		<%= f.input :url, placeholder: "Can also be an e-mail adress!", label:"URL"%>
 		<%= f.collection_select :category_id, Category.all, :id, :name %>
 		<br>
 		<br>
 		<%= f.button :submit, class: "applyjob" %>
	<% end %>
</div>