<div class="container">
<div class="row">
	<div class="col-md-4">
		<div class="container">
			<div class="jobsideinfo" id="companytitleinfo">
				<p><%=@job.title%></p>
			</div>
			<div class="jobsideinfo" id="companysideinfo">
				<p><%=@job.company%></p>
			</div>
			<div class="jobsideinfo" id="companytitleinfo">
				<p>IMAGE</p>
			</div>
			<div class="jobsideinfo">
  				<p><%=@job.money%>$/mo<i class="em em-moneybag"></i></p>
  				<p><%=@job.hours%>h/w<i class="em em-alarm_clock"></i></p>
  				<p><%=@job.category.name%><i class="em em-ok_hand"></i></p>
   				<p><%= mail_to @job.email, "Email Me" %><i class="em em-paperclip"></i></p>
  				<p><%=link_to "Visit website", @job.url%><i class="em em-paperclip"></i></p>
			</div>

			<div class="jobsideinfo" id="companysideinfo">
				<p>Apply</p>
				<button class="applybutton"><%= link_to "Bring me there!", @job.url %></button>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="showjob">
			<div class="container">
			<p class="lead">
			  <%= simple_format(@job.description) %>
			</p>

				<div class="editdelete">
					<% if (user_signed_in? && (current_user.id == @job.user_id)) %>

						<a href="" class="button">
						  <%= link_to "Edit", edit_job_path, class: "applybutton" %>
						</a>
						<a href="" class="button">
						  <%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: "applybutton"%>
						</a>
          <% else %>
            <%= link_to "Apply!", @job, :target => "_blank", class: "applybutton" %>


					<% end -%>
				</div>
			</div>
		</div>
	</div>

</div>
</div>
